.container {
  margin-top: 5em;
  border: 1px solid blue;
}

.error {
  color: red;
  font-size: 1em;
}

label.error {
  display: inline-block;
}

.user-fav-sports.hidden {
  display: none;
}

.user-fav-sports {
  display: block;
}
